[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/RAMANA RAO KAMMA (ramanaraokamma)
[access "refs/for/refs/*"]
	read = group user/RAMANA RAO KAMMA (ramanaraokamma)
	push = group user/RAMANA RAO KAMMA (ramanaraokamma)
	label-Code-Review = -2..+2 group user/RAMANA RAO KAMMA (ramanaraokamma)
	label-Verified = -1..+1 group user/RAMANA RAO KAMMA (ramanaraokamma)
	rebase = group user/RAMANA RAO KAMMA (ramanaraokamma)
	removeReviewer = group user/RAMANA RAO KAMMA (ramanaraokamma)
	submit = group user/RAMANA RAO KAMMA (ramanaraokamma)
[access "refs/heads/*"]
	read = group user/RAMANA RAO KAMMA (ramanaraokamma)
	create = group user/RAMANA RAO KAMMA (ramanaraokamma)
	push = +force group user/RAMANA RAO KAMMA (ramanaraokamma)
	pushMerge = group user/RAMANA RAO KAMMA (ramanaraokamma)
[access "refs/tags/*"]
	push = +force group user/RAMANA RAO KAMMA (ramanaraokamma)
	pushTag = group user/RAMANA RAO KAMMA (ramanaraokamma)
	pushSignedTag = group user/RAMANA RAO KAMMA (ramanaraokamma)
